.profile-style,
mat-card {
    background-color: #35485e;
}

.text {
    font-size: 20px;
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: #fff;
}

img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
}

button {
    background-color: #ADFFE3;
    color: #1E344B;
}

mat-card-title {
    padding: 10px 20px;
}

mat-card-actions button {
    margin-bottom: 20px;
}