@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// responsible for centering the about card
div.background {
  min-height: 90vh;
}

mat-card {
  text-align: center;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 25px;
  padding: 20px;
  margin: 30px 20px 10px 20px;
  color: #1E344B;
  font-weight: 800;
  max-width: 600px;

  @media screen and (max-width: 400px) {
    margin-top: 0;
  }

  mat-card-title {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-style: italic;
    font-weight: 600;
  }

  p {
    text-align: left;
    font-weight: 500;
    font-size: 2.2vh;

    // adding breaks between p
    &:nth-child(odd) {
      margin-top: 10px;
    }

    // centering last sentences
    &:nth-child(n+3) {
      text-align: center;
      font-weight: 600;
      font-size: 2.4vh;
    }
  }

  mat-card-actions {
    padding: 10px;

    button {
      background-color: #1E344B;
      color: #ADFFE3;
    }
  }
}
