<app-header title="About Us"></app-header>
<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-content>
            <p>The ability to experience the world safely is not a luxury afforded to everyone and most often, members
                of the LGBTQ community rely on word-of-mouth to find businesses and resources that will provide safe
                havens and community. One of the most frequent roadblocks is the decentralization of such information.
            </p>
            <p>
                <strong>Safe Space offers a unique platform that helps the LGBTQ community safely expand their orbit by
                connecting members with resources, businesses and community.</strong> With Safe Space, members are able to
                securely and swiftly login with a social media account or email and password to access a database of
                trusted community organizations and connect with fellow members via chat.
            </p>
            <p>
                So, what are you waiting for?
            </p>
            <p>
                Expand your orbit with a free account today!
            </p>
        </mat-card-content>
        <mat-card-actions>
            <!-- Login Button -->
            <app-home-login-button></app-home-login-button>
            <br>
            <!-- Home Button -->
            <button routerLink="/home" mat-icon-button aria-label="home">
                <mat-icon>home</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>