<div class="planetsContainer" fxLayoutAlign="center center" fxLayout.sm="row wrap" fxLayout.xs="row wrap"
    fxLayoutAlign="center center" fxLayoutGap="50px">
    <div class="flex-item" fxLayoutAlign="center center">
        <button mat-button routerLink="/coffee" class="safe-space">Coffee Shops</button>
    </div>
    <div class="flex-item" fxLayoutAlign="center center">
        <button mat-button routerLink="/restaurants" class="safe-space" fxLayout="row" fxLayoutAlign="center center">Restaurants</button>
    </div>
    <div class="flex-item" fxLayoutAlign="center center">
        <button mat-button routerLink="/misc" class="safe-space">Misc</button>
    </div>
</div>