@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

table,
mat-paginator {
  background: rgb(0, 0, 0, 20%);
  text-align: center;
}

table {
  width: 80%;
  margin-top: 40px;
}

.table-style {
  font-family: 'Open Sans', sans-serif;
}

th {
  font-size: 14px;
  padding: 10px !important;

}

td {
  padding: 10px !important;
}

div.button {
  margin-top: 20px;

  button {
    margin: 10px;

    &.other {
      background-color: #ADFFE3;
      color: #1e344b;
    }
  }

}
