<app-header title={{pageTitle}}></app-header>

<!-- This is a place-holder table that can be customized and then populated with 
data that we bring in from outside source -->
<div class="background wrapper" fxLayout="column" fxLayoutAlign="flex-start center">
    <table mat-table matSort matTableResponsive [dataSource]="dataSource" >

        <!-- Business Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City</th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>


        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.description}} </td>
        </ng-container>

        
        <!-- Contact Name Column
        <ng-container matColumnDef="contactName">
            <th mat-header-cell *matHeaderCellDef> Contact Name </th>
            <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
        </ng-container> -->

        <!-- Email Column
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container> -->

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Member Owned Column -->
        <ng-container matColumnDef="memberOwned">
            <th mat-header-cell *matHeaderCellDef> LGBTQ Owned? </th>
            <td mat-cell *matCellDef="let element"> 
                <a *ngIf="!element.memberOwned">No</a>
                <a *ngIf="element.memberOwned">Yes!</a>
            </td>
        </ng-container>
        
        <!-- Website Column -->
        <ng-container matColumnDef="website">
            <th mat-header-cell *matHeaderCellDef> Website </th>
            <td mat-cell *matCellDef="let element">
                <a *ngIf="element.website" href={{element.website}} target="_blank">
                    <button mat-raised-button color="accent">visit</button>
                </a>
            </td>
        </ng-container>
        
        <!-- In the event we want to add images to our table ... this might come in handy-->
        <!-- <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef> Image Url </th>
            <td mat-cell *matCellDef="let element"> <img [src]="element.imageUrl" /> </td>
          </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- add table pagination with class definition for styling purposes  -->
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

<!-- Buttons -->
<div class="button" fxLayout="row" fxLayoutAlign="center center">
    <!-- Back -->
    <button mat-fab color="primary" aria-label="button with back icon" routerLink={{backUrl}}> back </button>
    <!-- Add Business -->
    <app-button path="/addBusiness" label="Add a Business"></app-button>
</div>