<div class="formContainer" fxLayoutAlign="center center" flxLayout="flex-container" fxLayout="column">
    <!-- type of business from drop down -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Business Type</mat-label>
        <mat-select required>
            <mat-option placeholder="Select One" value="option">café</mat-option>
            <mat-option placeholder="Select One" value="option">restaurant</mat-option>
            <mat-option placeholder="Select One" value="option">misc</mat-option>
            <mat-option placeholder="Select One" value="option">resource</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- business name -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Business Name</mat-label>
        <input matNativeControl placeholder="business name" matInput required>
    </mat-form-field>
    <!-- business location - states will eventually be a dropdown list -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Business City</mat-label>
        <input matNativeControl placeholder="city" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Business State</mat-label>
        <input matNativeControl placeholder="state" matInput required>
    </mat-form-field>
    <!-- web address, needs validator, possibly from https://stackoverflow.com/questions/50508712/validate-an-url-->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Web Site</mat-label>
        <input matNativeControl placeholder="web address" matInput required>
    </mat-form-field>
    <!--email  -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Contact Name</mat-label>
        <input matNativeControl placeholder="name" matInput>
    </mat-form-field>
    <!--email  -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Email</mat-label>
        <input matNativeControl placeholder="email" matInput>
    </mat-form-field>
    <!--phone  -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Phone</mat-label>
        <input matNativeControl placeholder="phone" matInput>
    </mat-form-field>
    <!-- description -->
    <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Description</mat-label>
        <textarea matInput matNativeControl placeholder="" maxlength="150"></textarea>
    </mat-form-field>
    <!-- submit button -->
    <button mat-raised-button>Submit</button>
</div>