
    
<div fxLayout="column" fxLayoutAlign="center center">
    <app-header class="title" title=Welcome!></app-header>
    <h3 *ngIf="user" class="neon">{{ user.name }}</h3>
</div>

<div class="planetsContainer" fxLayoutAlign="center center" fxLayout.sm="row wrap" fxLayout.xs="row wrap"
    fxLayoutAlign="center center" fxLayoutGap="50px">

    <app-planet pathName="/nh" label="New Hampshire"></app-planet>

    <app-planet pathName="/ny" label="New York"></app-planet>

    <app-planet pathName="/ma" label="Massachusetts"></app-planet>

    <app-planet pathName="/me" label="Maine"></app-planet>

    <app-planet pathName="/vt" label="Vermont"></app-planet>

</div>