@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.footer-style {
    background-color: #1E344B;
    h2 {
        font-family: 'Audiowide', cursive;
        color: #ADFFE3;
    }
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}