@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.footer-style {
    text-align: center;
    background-color: white;
    h2 {
        font-family: 'Audiowide', cursive;
    }
    .green {
        color: #6EBE44;
    }
}