@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.footer-style {
    text-align: center;
    background-color: #1E344B;
    margin-top: -50px;
    h2 {
        font-family: 'Audiowide', cursive;
        color: #ADFFE3;
    }
}