<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <div>
            <mat-card class=intro-card>
                <mat-card-title>Welcome to</mat-card-title>
                <br>
                <mat-card-content class="safe-space">SAFE SPACE</mat-card-content>
                <mat-card-content><i>Helping you safely expand your orbit.</i></mat-card-content>
                <br>
                <mat-card-actions>
                    <button color="primary" mat-raised-button>Log In/Sign Up</button>
                    <button color="primary" mat-raised-button>About</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-grid-tile>

</mat-grid-list>

