.intro-card {
    text-align: center;
    max-width: 350px;
    margin: 20px;
    background-color: "secondary";
    border: solid;
    padding: 150px;
    border-radius: 50%;
}

.safe-space {
    font-size: 3rem;
}
mat-grid-tile {
    background: lightblue;
  }