div.background {
    background: url('https://i.ibb.co/XLdTXMc/background-ADFFE3-1-E344-B.png') center center fixed;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
    padding: 50px 100px;
    margin-bottom: -32px;
}

div.flex-item {
    background: url("https://i.ibb.co/dbPWybn/3.png") no-repeat;
    background-size: 100%;
    height: 200px;
    width: 200px;
    @media (min-width: 1200px) {
        padding-top: 70px;
    }
}

div.flex-item:nth-of-type(2){
    background-image: url("https://i.ibb.co/VxD6hvD/4.png");
    margin-top: 10px;
    @media (min-width: 700px) {
        margin-top: 0px;
    }
}

div.flex-item:nth-of-type(3){
    background-image: url("https://i.ibb.co/sqQTLX9/2.png");
    margin-top: 10px;
    @media (min-width: 700px) {
        margin-top: 30px;
    }
    @media (min-width: 950px) {
        margin-top: 0px;
    }
}

div.flex-item:nth-of-type(4){
    background-image: url("https://i.ibb.co/LRLN05k/5.png");
    margin-top: 10px;
    @media (min-width: 700px) {
        margin-top: 30px;
    }
    @media (min-width: 960px) {
        margin-top: 0px;
    }
}

div.flex-item:nth-of-type(5){
    background-image: url("https://i.ibb.co/HTw1YsY/8.png");
    margin-top: 10px;
    margin-right: 50px;
    @media (min-width: 700px) {
        margin-top: 30px;
        margin-right: 50px;
    }
    @media (min-width: 951px) {
        margin-top: 20px;
    }
    @media (min-width: 960px) {
        margin-right: 0px;
        margin-top: 0px;
    }
}
h1.safe-space {
    font-size: 1rem;
    font-family: 'Audiowide', cursive;
    color: #ffffff;
    text-align: center;
    padding: 0px 20px;
    @media (min-width: 960px) {
        margin-bottom: 80px;
    }
}