div.background {
    background-image: url('https://i.ibb.co/XLdTXMc/background-ADFFE3-1-E344-B.png');
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    margin-bottom: -32px;
}

mat-card-title {
    font-family: 'Open Sans', sans-serif;
}

h1.safe-space {
    font-size: 1rem;
    line-height: normal;
    font-family: 'Audiowide', cursive;
    color: #ffffff;
    // margin: 0;
}

.nh {
    padding-bottom: 400px;
}

.me {
    padding-bottom: 500px;
}

.ny {
    padding-bottom: 200px;
}

.vt {
    padding-top: 300px;
}

.ma {
    padding-top: 200px;
}