<!-- <div class="profile-style" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" *ngIf="auth.user$ | async as user">
<div class="profile-style" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
    <h4>{{ user.email }}</h4>
    <img *ngIf="user" [src]="user.picture" alt="Profile Picture" />
    <h1 *ngIf="user" class="neon">{{ user.name }}</h1>
</div> -->

<div class="profile-style">
    <mat-card fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title *ngIf="user" class="text">{{ user.name }}</mat-card-title>
        <img mat-card-image *ngIf="user" [src]="user.picture" alt="Profile Picture">
        <mat-card-subtitle *ngIf="user" class="text">{{ user.email }}</mat-card-subtitle>
        <mat-card-actions>
            <button routerLink="/about" mat-raised-button aria-label="edit profile">Update Profile</button>
        </mat-card-actions>
    </mat-card>
</div>