<div class="background" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z0" #square (window:resize)="0"
        [ngStyle]="{'height.px': square }">
        <mat-card-title class="welcome"><i>welcome to</i></mat-card-title>
        <mat-card-content>
            <h1>SAFE</h1>
            <h1>SPACE</h1>
            <i>Helping you safely expand your orbit.</i>
        </mat-card-content>
        <mat-card-actions>
            <app-home-login-button></app-home-login-button>
            <button class="btnColor" routerLink="/about" mat-icon-button aria-label="about us">
                <mat-icon fxFlexAlign="center">info</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>