button {
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    text-transform: lowercase;
    color: #ADFFE3;
}

button:hover {
    background-color: #ADFFE3;
    color: #1E344B;
    opacity: 50%;
}