// Space between logo and Nav-Links
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar,
mat-drawer,
.sidenav-container {
  font-family: 'Audiowide', cursive;
  background-color: #1E344B;

  // Logo 
  span {
    font-size: 30px;
    padding-left: 20px;
  }

  // Nav Links
  button {
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    text-transform: lowercase;
    color: #ADFFE3;
  }

  button:hover {
    background-color: #ADFFE3;
    color: #1E344B;
    opacity: 50%;
  }
}

.active-list-item {
  color: #d062f2 !important; /* Note: You could also use a custom theme */
}

mat-drawer {
  overflow: visible;
}

.example-container {
  position: fixed;
  height: 30%;
}