<p>
    <mat-toolbar>
        <span>Safe Space</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/explore">Explore</button>
        <button mat-button routerLink="/connect">Connect</button>
        <button mat-button routerLink="/resources">Resources</button>
        <button mat-button routerLink="/profile">Profile</button>
        <button mat-icon-button aria-label="logout">
            <mat-icon>exit_to_app</mat-icon>
          </button>


    </mat-toolbar>
</p>