div.chatContent {
  margin: 2rem;
  width: 60vw;

  @media screen and (max-width: 600px) {
    div.chatContent {
      width: 90vw;
    }
  }
  

  div.messages {
    background-color: rgba(30, 52, 75, .8);
    border-radius: 5px;
    padding: 10px;
  }
  p {
    color: white;
    font-size: 20px;

    // &:nth-child(even) {
    //   color: hotpink;
    // }

    span.userName {
      font-weight: 600;
    }
  }
}


textarea {
  width: calc(100% - 20px);
  margin-left: 10px;
  background-color: #fff;
  font-size: 1.2em;
  resize: none;
  border: none;
} 

