@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.formContainer {
    margin: 30px;
}

.flex-item {
    width: 40vw;
    margin: 10px;
}

.form-buttons {
    margin-left: 40px;
    background-color: #ADFFE3;
    color: #1E344B;
    }

.checkbox {
    margin-left: 30px;
    background-color: darkgray;
}
