<div class="button-container" fxLayout="flex-container" fxLayoutAlign="left">
    <button class="form-buttons" mat-raised-button aria-label="submit">Submit</button>
    <mat-checkbox class="checkbox">LGBTQ-Owned Business</mat-checkbox>
</div>

<div class="formContainer" fxLayoutAlign="center" flxLayout="flex-container" fxLayout="row" fxLayout.sm="column"
    fxLayout.xs="column">

    <div class="flex-item">
        <!-- Category from drop down -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Resource Category</mat-label>
            <mat-select required>
                <mat-option placeholder="Select One" value="option">Business</mat-option>
                <mat-option placeholder="Select One" value="option">Community Resource</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- type of business from drop down -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Business Type</mat-label>
            <mat-select required>
                <mat-option placeholder="Select One" value="option">Café</mat-option>
                <mat-option placeholder="Select One" value="option">Restaurant</mat-option>
                <mat-option placeholder="Select One" value="option">Personal Care</mat-option>
                <mat-option placeholder="Select One" value="option">Other</mat-option>
                <mat-option placeholder="Select One" value="option">Crisis Service</mat-option>
                <mat-option placeholder="Select One" value="option">Therapeutic/Support</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- business name -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Business Name</mat-label>
            <input matNativeControl placeholder="business name" matInput required>
        </mat-form-field>
        <!-- business location - states will eventually be a dropdown list -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Business City</mat-label>
            <input matNativeControl placeholder="city" matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Business State</mat-label>
            <input matNativeControl placeholder="state" matInput required>
        </mat-form-field>
    </div>

    <div class="flex-item">
        <!-- web address, needs validator, possibly from https://stackoverflow.com/questions/50508712/validate-an-url-->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Web Site</mat-label>
            <input matNativeControl placeholder="web address" matInput required>
        </mat-form-field>
        <!--email  -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Contact Name</mat-label>
            <input matNativeControl placeholder="state" matInput>
        </mat-form-field>
        <!--email  -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Email</mat-label>
            <input matNativeControl placeholder="state" matInput>
        </mat-form-field>
        <!--phone  -->
        <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Phone</mat-label>
            <input matNativeControl placeholder="state" matInput>
        </mat-form-field>
        <!-- description -->
        <mat-form-field appearance="fill" class="flex-item description">
            <mat-label>Description</mat-label>
            <textarea matInput matNativeControl placeholder="" maxlength="150"></textarea>
        </mat-form-field>
    </div>

</div>