@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.formContainer {
    background-color: transparent;
    margin: 30px 0px;
}

.flex-item {
    // background-color: rgb(142, 199, 216);
    // background-color: #ADFFE3;
    margin: 10px;
}

.mat-input-element {
    caret-color: #adffe3!important;
    color: #adffe3!important;
}

button {
    background-color: #ADFFE3;
    color: #1e344b;
}
