@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

div.background {
  min-height: 100vh;
}

img.alien {
  background: rgb(255, 255, 255, 0.8);
  height: 100px;
}

mat-card.about-card {
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 45px;
  padding: 50px;
  color: #1E344B;
  font-weight: 800;
  max-width: 300px;
}

mat-card-title {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

mat-card-actions {
  padding: 10px;
  // margin: 0;

  button.mat-raised-button {
    background-color: #6EBE44;
  }
}

h1.safe-space {
  font-size: 3rem;
  line-height: normal;
  font-family: 'Audiowide', cursive;
  color: #1E344B;
  margin: 0;
}

p {
  margin: 20px;
}
