mat-card {
    margin: 0 30px!important;
    background-color: #35485e;

    .text {
        font-size: 20px;
        text-align: center;
        font-family: 'Audiowide', cursive;
        color: #fff;

        &.email {
            font-size: 18px;
        }
    }

    img {
        max-height: 150px;
        max-width: 150px;
        border-radius: 50%;
    }

    mat-card-title {
        padding: 10px 20px;
    }

    span {
        color: #ADFFE3;
    }

    .flex-item {
        min-width: 250px;
    }
}

.edit-profile {
    margin-top: 50px;
    @media screen and (max-width: 573px) {
        margin-top: 30px;
    }
}

app-userform {
    margin: 15px 30px 0px!important;
}