.edit-profile {
    margin-top: 80px;
    @media screen and (max-width: 573px) {
        margin-top: 30px;
    }
}

app-user-profile {
    margin: 15px 30px!important;
}

app-userform {
    margin: 15px 30px 0px!important;
}